body{
    
    background:#ddd;

  }
  .navbg {
    background-color: #3b5999;
    border-color: #3b5999;
    padding: 10px;
    position: fixed;
    z-index: 2;
    
}

.fbicon{
    width: 30px;
    height: 33px;
    margin-left: 10px;
}
.navdiv1{
    margin: 20px;
}
.search{
    padding: 2px;
    width: 61%;
}

li a,.ptitle{
color:#fff;
font-size: 13px;
font-weight: bold;
text-decoration: none;
}
li a,.ptitle:hover{

text-decoration: none;
}

.navbar {
position: relative;
min-height: auto;
margin-bottom: 0px;
border: 1px solid transparent;
}
.navbar-nav>li>a{
padding-top: 5px;
padding-bottom: 5px;
}

.nav>li>a {
position: relative;
display: block;
padding: 3px 15px;
}
.navbar-inverse {
background-color: #3b5998;
}


.navbar-inverse .navbar-nav>li>a {
color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
background-color: #3170B0;
}
/*.navbar-inverse .navbar-nav>  .mobile{
    display: none;
}
.navbar-inverse .navbar-nav> li>a .carets{
    color:black;
    height: 24px;
    width: 24px;
}*/
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #3170B0;;
}
.maincontent{
    position: relative;
    z-index: 1;
}
.empty{
    height: 50px;
}

.activity{
    color: #162643;
font-size: 16px;
font-weight: bold;
background: white;
}
.eyesicon{
    float: right;
}

